Body {
  background-image: url('https://img.freepik.com/free-vector/family-activities-collection_1284-32690.jpg?w=740&t=st=1694541227~exp=1694541827~hmac=4fa82b565a697bd1375287df600215464d58b3f58ba06a80ad7e3dbdb85d2590');
  min-height: 100vh;
  background-position: center;
  flex: 1;
  margin: 0;
}

.App {
  margin-top: 20px;
  background-color: #D2DE32;
  padding: 25px;

}

.container {
  display: flex;
  justify-content: center;
}

.btn {
  display: flex;
  justify-content: center;
padding: 10px;
border-radius: 10px;
background-color: transparent;
font-family: 'Open Sans', sans-serif;
font-weight: bolder;
}

h2 {
  font-family: 'Open Sans', sans-serif;
}
